<aside class=" app--noprint app__tools">
	<hana-palette
	 class="palette"></hana-palette>

	<button type="button" class="app__button--spacer app__button" (click)="addPattern()">➕</button>
	<button type="button" class="app__button" (click)="removePattern()">➖</button>
	<button type="button" class="app__button" (click)="drawMode = !drawMode">🤩</button>
	<button type="button" class="app__button" (click)="doPrint()">🖨</button>
</aside>

<section class="app__content">
	<ng-container *ngIf="drawMode; else glView">
		<div class="pattern-container">
			<hana-pattern *ngFor="let pattern of _patterns, let patIndex = index" class="pattern-container__pattern"
			 [patternIndex]="patIndex"></hana-pattern>
		</div>
	</ng-container>

	<ng-template #glView>

		<div class="pattern-renderer">
			<hana-renderer></hana-renderer>
		</div>

	</ng-template>
</section>
