
@mixin fgbg( $bg,$fg ) {
	background-color: $bg;
	color: $fg;
}
.palette__label {
	cursor: pointer;
 }


.palette__swatch {
	width: 20px;
	height: 20px;
	display:inline-block;
	outline:1px solid grey;

	&--COLOR0,
	&--FIRST { @include fgbg(white, white); }
	&--COLOR1 { @include fgbg(red, white); }
	&--COLOR2 { @include fgbg(blue, white); }
	&--COLOR3 { @include fgbg(green, white); }
	&--COLOR4 { @include fgbg(yellow, white); }
	&--COLOR5 { @include fgbg(orange, white); }
	&--COLOR6 { @include fgbg(silver, black); }
	&--COLOR7,
	&--LAST {
		@include fgbg(black, white);
	}
}
.palette__button {
	display:none;
}
.palette__button:checked + .palette__swatch {
	outline: 2px solid red;
}
