
.palette__label {
	cursor: pointer;
 }


.palette__swatch {
	width: 20px;
	height: 20px;
	display:inline-block;
	outline:1px solid grey;

}
.palette__button {
	display:none;
}
.palette__button:checked + .palette__swatch {
	outline: 2px solid red;
}
